/* styles.css */
.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f0f0;
}

.label-title {
    -fx-font-size: 24px;
    -fx-text-fill: #8a0a0a;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.text-option {
    -fx-font-size: 16px;
    -fx-text-fill: #444444;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}